*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}


.button{    
  margin: 5rem;
  border: 1px solid #333;
  padding: 1rem 2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  /* margin: 10px; */
  overflow: hidden;
}

.button i {
    font-size: 2.5rem;
    /* color: #fff; */
    
     
}


.fill {
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    border-radius: 50%;
    bottom: -49px;
    left: -50px;
    margin: -20px;
   transition: all .5s ease;
}

.icon{
    z-index: 2;
    transition: all .6s ease;
}

.button:hover .fill{

    transform: translate(71.6%,-70.5%);
}


.button:hover  .icon{
    color: #fff;
    color: rgb(75, 172, 236);
}

.button:hover  .insta{
    color: orange;

}